.pagination {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.pagination button {
    width: 10vh;
    height: 6vh;
    border: none;
    cursor: pointer;
    outline: none;
    background: #7fdd53;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #94e66f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #8cd46a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin-left: 4px;
    margin-right: 4px; 
    transition: all 0.8s;
}

.pagination button:hover{
    background-color: rgb(17, 64, 83);
}

.pagination .left {
    border-radius: 0px 0px 0px 60px;
}

.pagination .right {
    border-radius: 0px 0px 60px 0px;
}

.fas{
    font-size: 4vh;
    color: white;
}