.pagination {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.pagination button {
    width: 10vh;
    height: 6vh;
    border: none;
    cursor: pointer;
    outline: none;
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.8s;
    margin: 2px;
}

.pagination button:hover{
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #194744, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.pagination .left {
    border-radius: 60px 60px 60px 60px; 
}

.pagination .right {
    border-radius: 60px 60px 60px 60px;
}

.fas{
    font-size: 4vh;
    color: white;
}