.card {
    margin: 8px;
    height: auto;
    position: relative;
    transition: all 0.8s; 
}

.card img {
    cursor: pointer;
    transition: all 0.4s;
    -webkit-box-shadow: 0px 1px 9px 3px #e0e0e0; 
    box-shadow: 0px 1px 9px 3px #cecece;
}

.card img:hover {
    opacity: 0.8;
}