* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body, html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.text-breed {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-top: 1vh;
    font-size: 2.6vh;
    text-align: justify;
}

.text-breed2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.7vh;
}

.sc-AxgMl h2 {
    font-size: 2.4vh;
}

.cat-list {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-left: 10vh;
    padding-right: 10vh;
}

.link {
    padding-left: 1vh;
    padding-right: 2vh;
    text-decoration: none;
    font-size: 2.1vh;
    color: #0f0e4e;
    letter-spacing: 1px;
    margin: 4px;
}

.link:hover {
    background-color: rgba(48, 33, 78, 0.911);
    color: white;
    transition: all .8s;
}

button:hover {
    background: linear-gradient(rgb(70, 63, 128), rgb(32, 40, 109));
    transition: all .8s;
}

.img-cat:hover {
    filter: grayscale(20%);
    opacity: 0.4;
    transition: all .8s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(67, 37, 136, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    flex-wrap: nowrap;
}

.overlay:hover {
    opacity: 1!important;
}

.overlay::before, .overlay::after {
    content: "";
    background-color: rgb(243, 243, 243);
    width: 20px;
    height: 2px;
    padding-left: 40px;
    transition: transform 0.5s;
    transform: scaleX(0);
}

.overlay::after {
    bottom: 0;
    transform-origin: right;
}

.overlay::before {
    top: 0;
    transform-origin: left;
}

.overlay:hover::before, .overlay:hover::after {
    transform: scaleX(1);
}

@supports(object-fit: cover) {
    .img-breed {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.sc-AxheI {
    background-color: black;
}

@media only screen and (max-width: 700px) {
    .sc-AxheI {
        width: 100%;
    }
    .sc-AxheI {
        margin: 0px!important;
        height: auto!important;
    }
    .sc-AxgMl {
        background-image: url("/img/vector2.png")!important;
        padding-top: 40px;
        align-items: flex-start!important;
    }
    .sc-Axmtr {
        width: 100%!important;
    }
    .content-img img {
        width: 100%!important;
        padding: 4vh 10vh 0 10vh!important;
    }
    .sc-AxjAm{
        justify-content: center!important;
    }

    .home .content{
        padding: 0px!important;
        padding-top: 20px!important;
        width: 70%!important;
    }

    .img-home{
        padding-left: 20vh!important;
        width: 100%!important;
    }
    .bkRjbX{
        padding-right: 0px!important;
    }


}

@media only screen and (max-width: 380px) {
    .sc-AxhUy { 
        justify-content: center!important   ;
    }
    
} 